.nav{
    display: flex;
    justify-content: space-between;
}
.sign{
    background-color: red;
    border-radius: 15px;
    
}

h1{
    color: white;
    font-size: 60px;
    
}
h2{
    font-size: 40px;
}
h3{
    font-size: 20px;
}
.cont{
    color: white;
    text-align: center;
    margin-top: 40px;
    align-items: center;


}
.formm{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
a{
    background-color: red;
    text-decoration: none;
    color: white;
    font-size: 40px;
    border-radius: 8px;
    margin-left: 10px;
}
.input{
    height: 60px;
    border-radius: 7px;
}
.image{
    background-image: url(./img/netflix-web.jpg);
    height: 100vh;
}
.main{
    background-color: black;
    height: 70vh;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
p{
    color: white;
    font-size: 80px;
    margin-top: 50px;
}
.para{
    font-size: 20px;
}
.main-two{
    background-color: black;
    height: 100vh;
    margin-top: 10px;
}
.para-two{
    text-align: center;
    font-size: 60px;
}
.form{
    display: flex;
    flex-direction: column;
    margin: 30px;
   
    
}
input{
    height: 80px;
    background-color: rgb(30, 26, 26);
    color: white;
    font-weight: bolder;
    font-size: 20px;
}
input:hover{
    background-color: rgb(71, 63, 63);
}
.footter{
    background-color: black;
    display: flex;
    justify-content: space-around;
}
